bin/.
obj/.
bin/iPhoneSimulator/Debug/IKHealth.app/IKHealth.exe

bin/iPhoneSimulator/Debug/IKHealth.app/IKHealth.exe

.gitignore

bin/iPhoneSimulator/Debug/IKHealth.app/IKHealth.exe.mdb

bin/iPhoneSimulator/Debug/IKHealth.exe

bin/iPhoneSimulator/Debug/IKHealth.app/IKHealth.exe.mdb

bin/iPhoneSimulator/Debug/IKHealth.app/MainStoryboard_iPhone.storyboardc/2-view-3.nib

bin/iPhoneSimulator/Debug/IKHealth.app/MainStoryboard_iPhone.storyboardc/Info.plist

bin/iPhoneSimulator/Debug/IKHealth.app/MainStoryboard_iPhone.storyboardc/Mkn-xd-fGx-view-LI3-fs-whA.nib

bin/iPhoneSimulator/Debug/IKHealth.app/MainStoryboard_iPhone.storyboardc/OfN-Zr-Db1-view-Qtk-Mc-5zx.nib

bin/iPhoneSimulator/Debug/IKHealth.app/MainStoryboard_iPhone.storyboardc/UIViewController-2.nib

bin/iPhoneSimulator/Debug/IKHealth.app/MainStoryboard_iPhone.storyboardc/UIViewController-OfN-Zr-Db1.nib

bin/iPhoneSimulator/Debug/IKHealth.app/MainStoryboard_iPhone.storyboardc/UIViewController-VYJ-gr-LmT.nib

bin/iPhoneSimulator/Debug/IKHealth.exe

bin/iPhoneSimulator/Debug/IKHealth.exe.mdb
